@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    gap: 0px;
    padding: 0px;
}

body {
    background-image: url("../img/pexels-jan-van-der-wolf-11680885-28588774.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

main {
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(5px);
    width: 95%;
    height: 1070px;
    border-radius: 15px;
    display: flex;
    align-items: start;
    justify-content: center;
    border: solid rgba(255, 255, 255, 0.151) 1px;
}

header {
    margin-top: 28px;
    background-color: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    width: 95%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
}

ul {
    margin-left: 50px;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.781);
}
.buttons {
    margin-right: 20px;
    background-color: rgba(240, 248, 255, 0);
    width: 200px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 7px;
    font-weight: 100;
    
}
button {
    background-color: rgba(255, 255, 255, 0.171);
    width: 100px;
    height: 37px;
    border: solid rgba(255, 255, 255, 0.281) 1px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    color: rgba(255, 255, 255, 0.575);
    font-size: 17px;
}

button:first-child {
    background-color: rgba(83, 83, 83, 0.233);
}

footer {
    background-color: rgba(255, 255, 255, 0.137);
    backdrop-filter: blur(5px);
    width: 95%;
    height: 191px;
    border-radius: 15px;
    border: solid rgba(255, 255, 255, 0.151) 1px;
    margin-top: 50px;
    margin-bottom: 20px;
}


